*:not(i):not(.material-icons):not(.mdc-icon):not(.mdc-button__icon):not(.mdc-icon-button__icon):not(.icon) {
  font-family: 'Inter_Regular', 'Helvetica', 'Sans-Serif', 'Arial' !important
}

.container {
  margin: 1rem 0;
}

.mdc-data-table {
  width: 100%;
  margin-top: 1rem;
  overflow-y: hidden;
}

.header {
  font-weight: bold;
}

tr {
  cursor: pointer;
}

.collapsible {
  width: 100%;
}

.content {
  display: none;
  overflow: hidden;
}

.card {
  padding: 1rem;
  border-radius: 0.2rem;
  margin-bottom: 1rem;
  background: #dfdfdf;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card-col {
  flex: 1;
}

.text-blue {
  color: rgb(61, 140, 214);
}

.mdc-dialog__container{
  display: block;
  margin-top: 10rem;
}
