.container {
  margin: 1rem 0;
}

.mdc-data-table {
  width: 100%;
  margin-top: 1rem;
}

.header {
  font-weight: bold;
}

tr {
  cursor: pointer;
}

.collapsible {
  width: 100%;
}

.content {
  display: none;
  overflow: hidden;
}

.card {
  padding: 1rem;
  border-radius: 0.2rem;
  margin-bottom: 1rem;
  background: #dfdfdf;
}

.text-blue {
  color: rgb(61, 140, 214);
}