html, body {
  height: 100% !important;
  overflow-y: auto !important;
  -webkit-overflow-scrolling: touch !important;
  margin: 0;
}

/* body {
  height: 100% !important;
  overflow-y: auto !important;
  -webkit-overflow-scrolling: touch !important;
} */

.material-icons,
#search-icon {
  font-family: 'Material Icons' !important;
}

.search-card {
  flex-direction: row;
  align-items: center;
  padding-left: 1rem;
  position: fixed;
  top: 0.8125rem;
  right: 0.5rem;
  left: 0.5rem;
  background: #f8f8f8;
  z-index: 10;
}

input {
  border: none;
  padding: 0.7rem 0.5rem 0.7rem 0;
  margin-left: 1rem;
  font-size: 1rem;
  width: 100%;
  background: #f8f8f8;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #f8f8f8 inset !important;
}

input:focus {
  outline: none;
}

#listContainer {
  padding: 3.75rem 0.75rem 5rem;
}

.bitmap {
  background-image: url('./.images/empty_page.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 80vh;
}

.invisiable {
  display: none;
}

/* Group Style */
.list-group {
  margin: 1rem 0;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  background-size: cover;
  background-image: url('./.images/empty_img.png');

}

.mdc-card__actions {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0rem;
  justify-content: space-between;
  align-items: flex-end;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.6) 100%);
}

.group-title {
  margin: .5rem 1rem .5rem;
  font-size: 1rem;
  color: #ffffff;
}

.group-btn:not(:disabled) {
  color: #ffffff;
}

/* End Group Style */

/* Link Style */
.list-link {
  margin: 1rem 0;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  height: 56px;
}

.link-img {
  flex: 1;
  background-size: cover;
  width: 56px;
  height: 56px;
}

.link-title {
  flex: 3;
  margin: 0 1rem;
}

.link-action-container {
  flex: 1;
  margin: 0 0.5rem;
}

/* End Link Style */

.add-btn {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
}

.del-btn {
  color: #D40044;
}

/* Topic Input Dailog Style */
.text-field-input {
  padding: 1.4rem .1rem .3rem;
  width: 100%;
}

.fullwidth {
  width: 100%;
  margin: 0.6rem 0;
}

.radio-label {
  width: 100%;
}

/*End Topic Input Dailog Style */

/*  Bottom Sheet Style */
.bottom-sheet {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0rem;
  right: 0rem;
  z-index: -1;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
}

.backdoor {
  opacity: 1;
  z-index: 10;
}

.mdc-drawer {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  width: auto;
  position: fixed;
  bottom: 0;
  left: .5rem;
  right: .5rem;
  height: auto;
  transform: translate(0, 100%);
  transition: all 450ms cubic-bezier(0.32, 1, 0.23, 1) 0ms;

}

.open-bottom-sheet {
  transform: translate(0, 0);
  transition: all 450ms cubic-bezier(0.32, 1, 0.23, 1) 100ms;
}

.del-item .mdc-list-item__graphic {
  color: #D40044;
}