html,
body {
  height: 100% !important;
  overflow-y: auto !important;
  -webkit-overflow-scrolling: touch !important;
  margin: 0;
}

.search-card {
  position: fixed;
  top: 0.8125rem;
  right: 0.5rem;
  left: 0.5rem;
  z-index: 1;
  overflow: hidden;
}

.inner-search-container {
  padding-left: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #ffffff14;
}

input {
  border: none;
  padding: 0.7rem 0.5rem 0.7rem 0;
  margin-left: 1rem;
  font-size: 1rem;
  width: 100%;
  background: transparent;
}


input:focus {
  outline: none;
}

.scroll {
  padding: 3.75rem 0 5rem;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.3rem .75rem;
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
}

.breadcrumbs::-webkit-scrollbar {
  display: none;
}


.breadcrumb-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.breadcrumb-item:last-child {
  padding-right: .5rem;
}

a.breadcrumb-label {
  padding: .3rem .6rem;
  cursor: pointer;
  background: #efefef;
  border-radius: 4px;
}



a.breadcrumb-label:hover {
  background: #e2e2e2;
}

#listContainer {
  padding: 0 0.75rem;
}

.bitmap {
  background-image: url('./.images/empty_page.svg');
  background-repeat: no-repeat;
  background-attachment: absolute;
  background-position: center;
  height: 80vh;
}

.invisible {
  display: none;
}

/* Group Style */
.list-group {
  margin: 1rem 0;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  background-size: cover;
  background-image: url('./.images/empty_img.png');

}

.mdc-card__actions {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0rem;
  justify-content: space-between;
  align-items: flex-end;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.6) 100%);
}

.group-title {
  margin: .5rem 1rem .5rem;
  font-size: 1rem;
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.group-btn:not(:disabled) {
  color: #ffffff;
}

/* End Group Style */

/* Link Style */
.list-link {
  margin: 1rem 0;
  /* background: #ffffff; */
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  height: 56px;
}

.link-img {
  flex: 1;
  background-size: cover;
  width: 56px;
  height: 56px;
}

.link-title {
  flex: 3;
  margin: 0 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link-action-container {
  flex: 1;
  margin: 0 0.5rem;
}

/* End Link Style */

.add-btn {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
}

.del-btn {
  color: #D40044;
}

/* Topic Input Dailog Style */
.text-field-input {
  padding: 1.4rem .1rem .3rem;
  width: 100%;
}

.fullwidth {
  width: 100%;
  margin: 0.6rem 0;
}

.mdc-radio .mdc-radio__native-control:enabled:not(:checked)+.mdc-radio__background .mdc-radio__outer-circle {
  border-color: inherit;
}

.radio-label {
  width: 100%;
}


